---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - gitopssecret.snappcloud.io
  resources:
  - agekeys
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gitopssecret.snappcloud.io
  resources:
  - agekeys/finalizers
  verbs:
  - update
- apiGroups:
  - gitopssecret.snappcloud.io
  resources:
  - agekeys/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - gitopssecret.snappcloud.io
  resources:
  - agesecrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gitopssecret.snappcloud.io
  resources:
  - agesecrets/finalizers
  verbs:
  - update
- apiGroups:
  - gitopssecret.snappcloud.io
  resources:
  - agesecrets/status
  verbs:
  - get
  - patch
  - update
