---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: agekeys.gitopssecret.snappcloud.io
spec:
  group: gitopssecret.snappcloud.io
  names:
    kind: AgeKey
    listKind: AgeKeyList
    plural: agekeys
    singular: agekey
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.message
      name: Message
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AgeKey is the Schema for the agekeys API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AgeKeySpec defines the desired state of AgeKey
            properties:
              age_secret_key:
                type: string
            required:
            - age_secret_key
            type: object
          status:
            description: AgeKeyStatus defines the observed state of AgeKey
            properties:
              message:
                type: string
            required:
            - message
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
